@font-face {
  font-family: Museosans;
  src: url(./../assets/font/museosans.ttf);
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #12112c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#loader-container h1 {
    color: white;
    padding: 20px;
    font-size: 20px;
}

#loader-container.fade-out {
    opacity: 0;
    pointer-events: none;
}

.loader {
    width: 60px;
    height: 60px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top-color: #00adb5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'VarelaRound', sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
    transition: flex 1s ease, opacity 0.6s ease;
}
section:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

h2,
.btn {
    color: white;
}

h2 {
    font-family: Museosans, sans-serif;
    font-size: 250%;
    margin-bottom: 25px;
    font-weight: 800;
    transition: transform 0.5s ease;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 12px 35px;
    font-weight: 800;
    background-color: transparent;
    transition: all 1s ease;
}

section:hover {
    flex: 1.5;
}

section:hover h2 {
    transform: translateY(-10px);
}

section:hover .btn {
    background-color: white;
    color: black;
}

.left {
    background-image: url(./../assets/img/codingTimeline.png);
}


.right {
    background-image: url(./../assets/img/editingTimeline.png);
}

.container:hover section {
    opacity: 0.7;
}

.container section:hover {
    opacity: 1;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    section {
        height: 50vh;
        flex: none;  
        transition: none; 
    }

    section:hover {
        height: 50vh;
    }

    h2 {
        font-size: 200%; 
    }

    .btn {
        padding: 10px 25px;
    }
}